<div class="autopagerize_page_element"></div>
  <%posts.forEach(function(post){%>
  <div class="content">
    <div class="post">
      <div class="post_title">
        <h2><a href="<%= post.link %>index.html"><%=post.title%></a></h2>
      </div>
      <div class="post_content">
        <p><%-post.searchedPreview%></p>
      </div>
      <div class="post_info">
        <!-- 博客名、时间、标签 -->
        <div class="ariticle_info">
          <!-- <%if(themeConfig){%>
          <span class="name">
            <a href="<%= themeConfig.domain %>"><%=themeConfig.siteName%></a>
          </span>
          <%}%> -->
          <span class="date">
            <i class="fa fa-sun-o"></i>
            <%=post.dateFormat%>
          </span>
          <span class="field tags">
            <i class="fa fa-flask"></i>
            <%post.tags.forEach(function(tag){%>
              <a href="<%= tag.link %>index.html" class="tag"><%=tag.name%></a>
            <%});%>
          </span>
        </div>
        <!-- 博客名、时间、标签 end --> 
      </div>
    </div>
  </div>
  <%});%>
</div>


